/* #region debug */

.debug {}

/* #endregion debug */

/* #region utilites */

:root {
    --main: #1abc9c;
    --dark: #3a546d;
    --darker: #2c3e50;
}

.t_darker {
    color: var(--darker);
}

.t_primary {
    color: var(--main);
}

.bg_primary {
    background-color: var(--main);
}

.bg_dark {
    background-color: var(--dark);
}

.bg_darker {
    background-color: var(--darker);
}

/* #endregion utilites */

/* header */

#app_header,
div#offcanvasNavbar,
.bottom_footer {
    background-color: var(--darker);
}

/* main */

.hr_large {
    width: 165px;
    height: 3px;
    border-radius: 15px;
}

.hr_small {
    width: 140px;
    height: 3px;
    border-radius: 15px;
}

.jumbotron,
.about {
    background-color: var(--main);
}